.mat-nav-list{
    text-align: left;
    font-size: 0.8rem!;
    
}
.mat-divider{
    border-top-width: 2px;
    border-color: white;
}
.mat-list-item{
    
    height: 44px;
    

}

.mat-list-item:hover{
    background-color:white !important;
    
   color: black;
}