<mat-nav-list>
    <div class="logo py 4">
        <img src="https://www.lufthansa.com/etc/designs/dcep/logo-lh-og.jpg" height="120px" width="260px" alt="Company Logo">
    </div>
    <mat-divider>

    </mat-divider>
    <h2 matSubheader class="mt-2">Application</h2>

    <a mat-list-item>
        <mat-icon>home</mat-icon> Home

    </a>
    <a routerLink="user/trips" routerLinkActive="active-link" mat-list-item>
        <mat-icon>dashboard</mat-icon> View Trips

    </a>
    <a routerLink="user/flights" routerLinkActive="active-link" mat-list-item>
        <mat-icon>dashboard</mat-icon> View Flights

    </a>
    
</mat-nav-list>