 <!-- <table class="table table-hover">

    <thead class="thead-dark">
       
        <th>Id</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Description</th>
        <th>Reason</th>
        <th>Departure Date</th>
        <th>Arrival Date</th>
         <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Send</th>
        <th>View Flights</th>
    </thead>

    <tbody>
        
        <tr  *ngFor="let tempTrip of trips" [ngStyle]="{'background-color': tempTrip.tripStatus == 'REJECTED' ? '#fa4d4f' : 'white'}">

           
            <td > {{ tempTrip.tripId}}</td>
            <td > {{ tempTrip.origin}}</td>
            <td> {{ tempTrip.destination}}</td>
            <td> {{ tempTrip.description}}</td>  
            <td> {{ tempTrip.tripReason}}</td> 
            <td> {{ tempTrip.departureDate}}</td> 
            <td> {{ tempTrip.arrivalDate}}</td>
             <td > {{ tempTrip.tripStatus}}</td> 
            <td>
                 
                <button *ngIf="tempTrip.tripStatus==='CREATED'" (click)="editTrip(tempTrip.tripId)" class="btn btn-success btn-sm rounded-0" type="button" data-placement="top" title="Edit" ><fa-icon [icon]="faEdit"></fa-icon> </button>
            
            </td>
          <td><button *ngIf="tempTrip.tripStatus==='CREATED'" (click)="deleteTrip(tempTrip.tripId)" class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><fa-icon [icon]="faTrash"></fa-icon></button></td>
          <td><button  *ngIf="tempTrip.tripStatus==='CREATED'" (click)="sendTrip(tempTrip.tripId)" class="btn btn-primary btn-sm  rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Send"><fa-icon [icon]="faArrow"></fa-icon>Send</button></td>
          <td><button   *ngIf="tempTrip.tripStatus==='ACCEPTED'" (click)="viewFlights(tempTrip.tripId)" class="btn btn-warning btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="View Flights"><fa-icon [icon]="faFlight"></fa-icon></button></td>
         <tr>
            <table *ngIf="toggle">
          <thead>
                <th>Origin</th>
            
                <th>Destination</th>
            </thead>
          <tr *ngFor="let tempFlight of flights" >
          <td>{{tempFlight.origin}}</td>
          <td>{{tempFlight.destination}}</td>
          </tr>
        </table>
        </tr>
        
       
    </tbody>
</table>  -->


	
<table mat-table [dataSource]="trips" class="table table-hover" multiTemplateDataRows >

       
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.tripId}} </td>
        </ng-container>

        <ng-container matColumnDef="origin">
          <th mat-header-cell *matHeaderCellDef> Origin </th>
          <td mat-cell *matCellDef="let element"> {{element.origin}} </td>
        </ng-container>
      
        <ng-container matColumnDef="destination">
          <th mat-header-cell *matHeaderCellDef> Destination </th>
          <td mat-cell *matCellDef="let element"> {{element.destination}} </td>
        </ng-container>

        <ng-container matColumnDef="reason">
            <th mat-header-cell *matHeaderCellDef> Reason </th>
            <td mat-cell *matCellDef="let element"> {{element.tripReason}} </td>
          </ng-container>
      
        <ng-container matColumnDef="arrivalDate">
          <th mat-header-cell *matHeaderCellDef> Arrival Date </th>
          <td mat-cell *matCellDef="let element"> {{element.arrivalDate}} </td>
        </ng-container>
      
        <ng-container matColumnDef="departureDate">
          <th mat-header-cell *matHeaderCellDef> Departure Date </th>
          <td mat-cell *matCellDef="let element"> {{element.departureDate}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.tripStatus}} </td>
          </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Edit </th>
            <td mat-cell *matCellDef="let element"><button *ngIf="element.tripStatus==='CREATED'" (click)="editTrip(element.tripId)" class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><fa-icon [icon]="faEdit"></fa-icon></button> </td>
          </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element"><button *ngIf="element.tripStatus==='CREATED'" (click)="deleteTrip(element.tripId)" class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><fa-icon [icon]="faTrash"></fa-icon></button> </td>
          </ng-container>

          <ng-container matColumnDef="send" >
            <th mat-header-cell *matHeaderCellDef> Send </th>
            <td mat-cell *matCellDef="let element"><button *ngIf="element.tripStatus==='CREATED'" (click)="sendTrip(element.tripId)" class="btn btn-primary btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Send"><fa-icon [icon]="faArrow"></fa-icon>Send</button> </td>
          </ng-container>

          <ng-container  matColumnDef="viewFlightsButton">
            <th mat-header-cell *matHeaderCellDef> View Flights </th>
            <td mat-cell *matCellDef="let element"><button *ngIf="element.tripStatus==='ACCEPTED'" (click)="viewFlights(element.tripId)" class="btn btn-warning btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="View Flights"><fa-icon [icon]="faFlight"></fa-icon>View Flights</button> </td>
          </ng-container>
          <ng-container  matColumnDef="addFlightsButton">
            <th mat-header-cell *matHeaderCellDef> Add Flight </th>
            <td mat-cell *matCellDef="let element"><button *ngIf="element.tripStatus==='ACCEPTED'"  (click)="add(element.tripId)" class="btn btn-primary btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Add Flight"><fa-icon [icon]="faPlus"></fa-icon>Add Flight</button> </td>
          </ng-container>


           <ng-container   matColumnDef="expandedDetail" >
            <td  mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns2.length">
              <div class="example-element-detail" *ngIf="toggle=='expanded' && element.tripStatus=='ACCEPTED'
            && element.flights.length>0"><!--*ngIf="element.flights?.data.length" -->
                <div class="inner-table mat-elevation-z8" >
                    <table #innerTables mat-table [dataSource]="element.flights"  >
                      <ng-container matColumnDef="{{innerColumn}}"
                        *ngFor="let innerColumn of displayedColumns2">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{innerColumn}} </th>
                        <td mat-cell *matCellDef="let element"> {{element[innerColumn]  }} </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                    </table>
                </div>
              </div>
            </td>
          </ng-container>
      
        <tr mat-header-row class="thead-dark" *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"   [ngStyle]="{'background-color': row.tripStatus == 'REJECTED' ? '#fa4d4f' : 'white'}" ></tr>
        <tr  mat-row *matRowDef="let row; columns: ['expandedDetail'];"
        [@detailExpand]="toggle" style="overflow: hidden"> </tr> 
      </table>
  